<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Danny DeVito</title>
</head>
<body>
    <h1>Welcome to my propaganda page about Danny DeVito</h1>
    <img src="/images/frank-1.jpg" alt="danny"/>

    <div class="links">
        <a href="/about">About</a>
        <a href="/works">Career</a>
        <a href="/photo-gallery">Photo Gallery</a>
    </div>
    
</body>
</html>